<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OLJSONModel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>852F08B91CB6004D00BDD2AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>852F08D21CB6004E00BDD2AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>852F08DD1CB6004E00BDD2AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
