<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resultObject</key>
	<dict>
		<key>results</key>
		<array>
			<dict>
				<key>portraitPicId</key>
				<string>portraitPicId01</string>
				<key>staffName</key>
				<string>staffName01</string>
				<key>customRevisitRecordAtom</key>
				<dict>
					<key>gmtCreated</key>
					<string>gmtCreated01</string>
					<key>revisitType</key>
					<string>revisitType01</string>
					<key>revisitContent</key>
					<string>revisitContent01</string>
					<key>staffId</key>
					<string>staffId01</string>
					<key>brandId</key>
					<string>brandId01</string>
					<key>customId</key>
					<string>customId01</string>
					<key>portraitPicId</key>
					<string>portraitPicId01</string>
				</dict>
			</dict>
            <dict>
                <key>portraitPicId</key>
                <string>portraitPicId02</string>
                <key>staffName</key>
                <string>staffName02</string>
                <key>customRevisitRecordAtom</key>
                <dict>
                    <key>gmtCreated</key>
                    <string>gmtCreated02</string>
                    <key>revisitType</key>
                    <string>revisitType02</string>
                    <key>revisitContent</key>
                    <string>revisitContent02</string>
                    <key>staffId</key>
                    <string>staffId02</string>
                    <key>brandId</key>
                    <string>brandId02</string>
                    <key>customId</key>
                    <string>customId02</string>
                    <key>portraitPicId</key>
                    <string>portraitPicId02</string>
                </dict>
            </dict>
            <dict>
                <key>portraitPicId</key>
                <string>portraitPicId03</string>
                <key>staffName</key>
                <string>staffName03</string>
                <key>customRevisitRecordAtom</key>
                <dict>
                    <key>gmtCreated</key>
                    <string>gmtCreated03</string>
                    <key>revisitType</key>
                    <string>revisitType03</string>
                    <key>revisitContent</key>
                    <string>revisitContent03</string>
                    <key>staffId</key>
                    <string>staffId03</string>
                    <key>brandId</key>
                    <string>brandId03</string>
                    <key>customId</key>
                    <string>customId03</string>
                    <key>portraitPicId</key>
                    <string>portraitPicId03</string>
                </dict>
            </dict>
		</array>
		<key>pagination</key>
		<dict>
			<key>currentPage</key>
			<string>6</string>
			<key>offset</key>
			<string>5</string>
			<key>totalResult</key>
			<integer>4</integer>
			<key>totalPage</key>
			<integer>3</integer>
			<key>showCount</key>
			<integer>2</integer>
			<key>mode</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>resultCode</key>
	<string>success</string>
</dict>
</plist>
